<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    {% if my_fundraisers %}
        <h1 style="text-align: center; font-size: xx-large; color: darkred"><u> My Donations History
            for {{ my_fundraisers.0.customer_id.username }}'s Fundraisers </u></h1>

        <table style="border: 1px solid #073259;">
            <tr>
                <td>
                    {% for my_fundraiser in my_fundraisers %}
                        <table>
                            <tr>
                                <th style="font-size: xx-large; color: midnightblue">
                                    <br>
                                    Fundraiser:<u>{{ my_fundraiser.name }}</u> with goal: ${{ my_fundraiser.goal }} - ${{ my_fundraiser.flag }}
                                    started on {{ my_fundraiser.fundraiser_date }}
                                    <br>
                                </th>
                            </tr>
                            <tr style="font-size: x-large;">
                            <td>
                                {% for donation in donations %}
                                    {% if donation.fundraiser_id.id == my_fundraiser.id %}

                                        <li style="list-style-type:square; padding-left: 15px">
                                            ${{ donation.amount }}
                                            by {{ donation.customer_id|default_if_none:"Anonymous" }}
                                            on {{ donation.time }}

                                        </li>

                                    {% endif %}
                                {% endfor %}
                            </td>
                            </tr>
                        </table>
                        <br><br><br>
                    {% endfor %}

                </td>
            </tr>
        </table>
        </div>
    {% endif %}
</div>
</body>
</html>
