{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block content %}
<div style='font-size: x-large;'>
FundraiseUS is the best place to fundraise. You can start a fundraisers for yourself, your friend or any non-profit organization.
Raise money for various charities aimed for a good cause. Donate money for the great people. After all, Love is all everyone needs until the end. we empower both individuals and nonprofits to turn compassion into action.
It is note as #1 for fast and safe Online Fundraising platform. Through
<cite><a href="/">FundraiseUs</a></cite> , people and organizations have the tools they need to share their cause far and wide and harness the power of generosity. We are transforming the way people give and changing lives—are you ready to join us?
</div>
{% endblock content %}